  /*
  =============== 
  Navbar
  ===============
  */
  
.nav {
  background: #00a47c;
  /* box-shadow: 0 5px 15px rgba(0 0 0 /10%); */
  color: #fff;
  position: sticky;
  /* width: 100%; */
  top: 0;
  z-index: 12;
}
.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.nav__toggle {
  font-size: 1.5rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  outline: none;
}
.nav__toggle:hover {
  color: #fff;
  transform: rotate(90deg);
}
.logo {
  height: 30px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 1.17em;
  background: transparent;
  outline: transparent;
}
.links a {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: #e6f6f2;
  color: #33b696;
  padding-left: 1.5rem;
}

.login {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px 15px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  line-height: 25px;
}

.login a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: normal;
}

.register {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #fff;
  padding: 5px 8px;
  text-align: center;
  margin-left: 35px;
  align-items: center;
  line-height: 25px;
}

.register a {
  color: #00a47c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
}

.links__container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show__container {
  height: 10rem;
}

/*  Media Queries  */

@media(max-width:800px){
  .login, .register {
    border: none;
    border-radius: 0%;
    width: 100%;
    margin: 0;
    border-top: 1px solid #fff;
    padding: 0;
    line-height: 35px;
  }
}




@media screen and (min-width: 801px) {
  .nav__center {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .nav__header {
    padding: 0 1rem;
  }
  .nav__toggle {
    display: none;
  }
  .links__container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links .login:hover a {
    padding: 0;
    background: transparent;
    color: #33b696;
  }
  
  .login:hover {
    border: transparent;
    background: #fff;
    color: #33b696;
  }
  
  .register:hover {
    border: 1px solid #fff;
    background: transparent;
  }

  .register:hover a {
    color: #fff;
    padding: 0;
    background: transparent;
  }
}
  